<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.co_working">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.example.co_working.app.LoginApp"
        android:allowBackup="true"
        android:icon="@drawable/df_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/df_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApiApp"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.co_working.view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>